.carousel-caption {
   color: aliceblue;
    padding-bottom: 12.25rem;

}

.card {
    border: none;
}

img {

    inline-size: 100%;
}

.icon-width>div>a>i {
    height: 50px;
    width: 50px;
    color: aliceblue;
}