.carousel-caption {

    padding-bottom: 10.25rem;

}

.cr-img>img {
    background-color: black;

}

.card {
    border: none;
}

img {

    inline-size: 100%;
}

/* .fa-brands.filled {
    height: 80px;
    width: 80px;
    color: aliceblue;
} */

.icon-width>div>a>i {
    height: 50px;
    width: 50px;
    color: aliceblue;
}